<a href="https://colab.research.google.com/github/brycebanton/module2_lectures/blob/master/2_2_list_comprehensions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# List Comprehensions

## Objectives

1. Understand the list comprehension syntax
2. Demonstrate list processing with comprehensions
3. Use list comprehensions in probability simulations

## List Comprehension

* Expression for constructing list
* Returns a new list
* Reads like math
    * Set builder notation

In [ ]:
mylist = [1,2,3,4,5]
yourlist = [item ** 2 for item in mylist]
yourlist

[1, 4, 9, 16, 25]

## Building a Comprehension


    
<img src="https://github.com/wsu-stat489/USCOTS2017_workshop/blob/master/img/listComprehensions.gif?raw=true">

## Building a List Comprehension

1. Begin with an empty shell

2. Insert the input sequence

3. Give the elements a name

`L = [   for    in       ]`

`L = [    for     in range(10)]`

`L = [    for num in range(10)]`

In [ ]:
L = [num + 2 for num in range(10)]
L

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

## Adding an optional filter

* The if portion is optional
* Syntax: `if boolean_cond`
    * After input sequence
* Only keeps value for which the condition is `True`

In [ ]:
L = [num + 2 for num in range(10) if num % 2 == 1]
L

[3, 5, 7, 9, 11]

### <font color='red'> Exercise 1 </font>

Write a list comprehension that contains the squares for the numbers between 0 and 20 (inclusive).  **Hint:** Start with a `range`

In [ ]:
x = [num ** 2 for num in range(21)]

In [ ]:
x

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400]

### <font color='red'> Exercise 2 </font>

Write a list comprehension that contains all perfect squares less than 555.  **Hint:** Use a large range and a filter.

In [ ]:
y = [num ** 2 for num in range(60) if num ** 2 < 555]

In [ ]:
y

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529]

## Splitting and processing string

* Use `split` to cut a string into a list of strings
* Use a comprehension to process the list.

In [ ]:
quote = "Don't judge each day by the harvest you reap but by the seeds that you plant."
quote.split(" ")

["Don't",
 'judge',
 'each',
 'day',
 'by',
 'the',
 'harvest',
 'you',
 'reap',
 'but',
 'by',
 'the',
 'seeds',
 'that',
 'you',
 'plant.']

In [ ]:
[len(word) for word in quote.split(" ")]

[5, 5, 4, 3, 2, 3, 7, 3, 4, 3, 2, 3, 5, 4, 3, 6]

### <font color='red'> Exercise 3 </font>

Write a list comprehension that grabs the last two letter of each word.  **Hint:** Use the slice operation!

In [ ]:
[word[len(word)-2:] for word in quote.split(" ")]

["'t",
 'ge',
 'ch',
 'ay',
 'by',
 'he',
 'st',
 'ou',
 'ap',
 'ut',
 'by',
 'he',
 'ds',
 'at',
 'ou',
 't.']

### <font color='red'> Exercise 4 </font>

Write a list comprehension that contains all words that have at least 4 characters.

In [ ]:
[word for word in quote.split(" ") if len(word) > 3]

["Don't", 'judge', 'each', 'harvest', 'reap', 'seeds', 'that', 'plant.']

### Comprehensions work on any input sequence

In [ ]:
# On string - gives list of characters
[ch for ch in "Todd Iverson"]

['T', 'o', 'd', 'd', ' ', 'I', 'v', 'e', 'r', 's', 'o', 'n']

In [ ]:
# On tuple - converts to list
[item for item in (1,2,3)]

[1, 2, 3]

In [ ]:
# On a lazy sequence
[tup for tup in enumerate(["a", "b", "c"])]

[(0, 'a'), (1, 'b'), (2, 'c')]

## Writing Clean Code
### Using helper functions

* **Clean Code Rule 1:** Use helper functions to hide complexity

In [ ]:
# Original comprehension
[x**(1/3) for x in range(5) if x %2 == 1]

[1.0, 1.4422495703074083]

## Which is easier to read?

In [ ]:
[x**(1/3) for x in range(5) if x %2 == 1]
[cube_root(x) for x in range(5) if is_odd(x)]

[1.0, 1.4422495703074083]

## Cleaning up list comprehensions

1. Make a function for 
    1. the expression,
    2. the sequence, and 
    3. the predicate
2. Refactor by replacing code with function calls.

In [ ]:
# Helper functions
is_odd = lambda x: x % 2 == 1
cube_root = lambda x: x**(1/3)

In [ ]:
# Refactored comprehension
[cube_root(x) for x in range(5) if is_odd(x)]

[1.0, 1.4422495703074083]

## Unpacking multiple items

* Tuple unpacking assigns a name to each item
* Can be use in a comprehension on a sequence of tuples

In [ ]:
a, b, c = (1, 2, 3)
b

2

In [ ]:
l = ['a', 'b', 'c']
m = [1, 2, 3]
# Without unpacking
[item for item in zip(l, m)]

[('a', 1), ('b', 2), ('c', 3)]

In [ ]:
# with unpacking
[s + str(n) for s, n in zip(l, m)]

['a1', 'b2', 'c3']

## <font color="red"> Exercise 5 </font>

You probably learned about the normal and standard normal distribution in your introductory statistics class.  In this activity, we will build up functions to simulate these distributions using a uniform random number generator.

#### Step 1 -- Transform two uniform random variates into a standard normal random variate.

We will use the [Box-Mueller transformation](https://en.wikipedia.org/wiki/Box%E2%80%93Muller_transform) to simulate turn two uniform random variates (generated with `random.random`) into a single standard normal variate.  **Hint:** In particular you want to implement the formula for $Z_0$ where $U_1$ and $U_2$ are two numbers generated using `random.random`.

**Task:** Write a function called `std_norm_variate` that generates a single random normal variate.

In [1]:
from random import random as r

In [31]:
r()

0.6091356019256097

In [37]:
std_norm_variate = r()
std_norm_variate

0.8385724219328408

#### Step 2 -- Create function that generates many standard normal variates.

Now use a list comprehension to create a function called `std_norm_variates` that has one argument `n` and returns `n` simulated random normal trials.

In [39]:
std_norm_variates = lambda x: [r() for num in range(x)]
std_norm_variates(10)

[0.11763750212409696,
 0.45322415577259656,
 0.8324033069589869,
 0.8642193717778751,
 0.5068765279576682,
 0.41834282841965975,
 0.17617990026796715,
 0.09220665112885995,
 0.003268866121357683,
 0.5219309610806542]

#### Step 3 -- Transform a standard normal variate into a given normal variate.

Suppose that `Z` is a standard normal variate and we want to simulate $X~Norm(\mu, \sigma)$.  It can be shown that applying the following transformation will result in the desired distribution.

$$ X = \mu + Z\sigma $$

Write a function called `norm_variate` that takes `mean` and `sd` as arguments and returns a normal variate from a distribution with this mean and standard deviation.

In [40]:
norm_variate = lambda m,s: m + r()*s
norm_variate(3,2.5)

5.088722593098708

#### Step 4 -- Create function that generates many standard normal variates.

Now use a list comprehension to create a function called `std_norm_variates` that has one argument `n` and returns `n` simulated random normal trials.

In [54]:
norm_variates = lambda mu,sd,n:[mu + r()*sd for i in range(n)]
norm_variates(4,10,10)

[13.511599355009006,
 6.478433819266313,
 5.5257354664006195,
 10.167065392951574,
 11.309362675683683,
 7.412198818901197,
 9.610407156099011,
 8.922377461291664,
 7.365223626033344,
 7.403786428624085]